node_modules
.pnpm-store
.git
.github
.cursor
.turbo
.next
dist
coverage
**/.env
**/.env.*
!**/.env.example
!**/.env.prod.example
apps/seed
apps/web/.next
apps/api/coverage
**/*.md
AGENT.md
.vscode
.husky
