PORT=

DATABASE_URL=

FRONTEND_URL=

JWT_ACCESS_SECRET=
ACCESS_TOKEN_TTL=
SESSION_REFRESH_TTL=
EMAIL_TTL=

RESEND_API_KEY=
MAIL_FROM=

THROTTLE_TTL_MS=
THROTTLE_LIMIT=
FALLBACK_LANGUAGE=

NODE_ENV=

OPENAI_API_KEY=

REDIS_URL=

SHADOWBAN_EXPIRY_CRON=0 0 * * *

SHADOWBAN_TIME_ZONE=


CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_S3_API_ENDPOINT=
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_PUBLIC_URL=
